$green: rgb(0, 151, 95);

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--light-font: "bnpp_sanslight", sans-serif;
	--regular-font: "bnpp_sans", sans-serif;
	--bold-font: "bnpp_sansextra_bold", sans-serif;
}

html {
	// ustawienie fontu na 16px
	font-size: 62.5%;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "bnpp_sanslight";
	src: url("/fonts/bnpp_sans_light-webfont.woff2") format("woff2"),
		url("/fonts/bnpp_sans_light-webfont.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "bnpp_sans";
	src: url("/fonts/bnpp_sans-webfont.woff2") format("woff2"),
		url("/fonts/bnpp_sans-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "bnpp_sansextra_bold";
	src: url("/fonts/bnpp_sans_extrabold-webfont.woff2") format("woff2"),
		url("/fonts/bnpp_sans_extrabold-webfont.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: var(--regular-font);
	font-size: 1.4rem;
	background-color: white;
}

.transition-fade {
	opacity: 1;
	transition: opacity .3s;
}

html.is-animating .transition-fade {
	opacity: 0;
}

section {
	margin: 0 auto;
	width: 100%;
	max-width: 1250px;
}

.text-normal {
	font-size: 1.6rem;
}

.text-big-bold {
	font-size: 2.6rem;
	font-family: var(--bold-font);
}

.text-big-regular {
	font-size: 2rem;
}

.text-green {
	color: $green;
}

.text-upper {
	text-transform: uppercase;
}

.text-underline {
	text-decoration: underline;
}

.nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.9);

	&__logo,
	&__desktop {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__logo {
		left: 20px;
	}

	// desktop navigation
	&__desktop {
		display: none;
		right: 0;
		font-size: 0;

		li {
			display: inline-block;
		}

		&--item {
			padding: 10px 20px;
			text-transform: uppercase;
			font-size: 1.8rem;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: white;
				background-color: $green;
			}
		}

		a {
			text-decoration: none;
			color: black;
		}
	}

	//mobile navigation

	&__mobile-burger,
	&__mobile-close {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 20px;
		background: none;
		border: 1px solid transparent;
		border-radius: 5px;
		cursor: pointer;
		z-index: 10;

		.fa-bars {
			font-size: 3.5rem;
		}
	}

	&__mobile-close {
		display: none;
		z-index: 150;
	}

	&__mobile-close-line,
	&__mobile-close-line::before {
		width: 35px;
		height: 5px;
		transform: rotate(45deg);
		border-radius: 1px;
		background-color: white;
	}

	&__mobile-close-line {
		position: relative;

		&::before {
			position: absolute;
			content: "";
			transform: rotate(90deg);
		}
	}

	&__mobile {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(100%);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		background-color: $green;
		z-index: 10;
		transition: transform 0.3s;

		ul {
			list-style: none;
			width: 100%;
			text-align: center;

			li:first-child {
				border-top: 1px solid white;
			}
		}
	}

	&__mobile-item {
		display: block;
		padding: 30px 0;
		border-bottom: 1px solid white;
		text-decoration: none;
		font-size: 3rem;
		text-transform: uppercase;
		color: white;
	}
}

// do animacji nawigacji:

.show-nav {
	transform: translateX(0);
}

.footer {
	padding: 50px 0;
	margin: 0 auto;
	text-align: center;
	// display: flex;
	// justify-content: center;
}

.header {
	img {
		width: 100%;
	}
}

.section {
	width: 100%;
	max-width: 960px;
	margin: 60px auto;
	padding: 0 30px;
	text-align: center;
}

.main-info,
.info {
	padding: 0 50px;
}

.main-info {
	p {
		margin-bottom: 35px;
	}

	&__title {
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 50px;
		z-index: -10;

		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			height: 4px;
			width: 70px;
			transform: translateX(-50%);
			background-color: $green;
		}
	}
}

.info {
	&__boxes {
		margin-top: 70px;
		display: grid;
		gap: 30px;
		// justify-items: center;
	}

	&__box {
		padding: 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2px solid $green;
		border-radius: 10px;
		text-decoration: none;
		color: black;
		cursor: pointer;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__icon {
		margin: 40px 0;
	}

	&__box-text {
		padding: 20px;
		border-top: 2px solid $green;
		border-bottom: 2px solid $green;
		grid-row: 2 / 3;

		&--right {
			grid-row: 5/6;
		}

		span.text-green {
			font-family: var(--bold-font);
		}
	}
}

.download {
	display: grid;
	grid-template-rows: 1fr 2px 1fr;
	gap: 20px;
	text-align: center;

	&__right {
		a {
			display: block;
			margin-bottom: 10px;
			text-decoration: none;
			color: black;
			cursor: pointer;
		}
	}

	&__line {
		width: 50%;
		height: 2px;
		margin: 0 auto;
		background-color: $green;
	}

	&__left {
		align-self: end;
	}
}

/////////////////////// DAY ///////////////////////////
.day {
	display: grid;
	margin: 100px 0;
	gap: 50px;

	&__register-img {
		width: 100%;
		cursor: pointer;
	}

	&__register {
		display: flex;
		flex-direction: column;
		align-items: center;

		h4 {
			text-transform: uppercase;
		}
	}

	&__register-btn {
		width: auto;
		padding: 10px 20px;
		margin: 20px 0;
		border: none;
		border-radius: 5px;
		background-color: $green;
		text-transform: uppercase;
		font-family: var(--regular-font);
		color: white;
		cursor: pointer;
	}

	&__text {
		text-align: left;
		padding-left: 30px;
		border-left: 2px solid $green;
	}

	&__text-title {
		font-weight: 900;
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__text-info {
		span {
			display: block;
			margin-top: 15px;
			font-weight: 900;
		}
	}
}

/////////////////////// DAY - STREAM ///////////////////////////

.day-content {
	margin-top: 60px;
	padding: 0 20px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);

	.stream {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		grid-column: 1 / 5;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.stream-info {
		// position: relative;
		display: flex;
		flex-direction: column-reverse;
		grid-column: 1 / 5;
		justify-content: space-between;

		&__text {
			padding-right: 20px;
			h1 {
				// display: block;
				margin-bottom: 10px;
			}
		}

		&__ask {
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-self: flex-end;
			margin-bottom: 30px;
			// padding-top: 15px;
		}

		&__head {
			position: relative;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			padding: 8px 10px;
			margin-bottom: 20px;

			&::before,
			&::after {
				position: absolute;
				content: "";
				right: 0;
				width: 100%;
				height: 2px;
				background-color: $green;
				z-index: -20;
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}
		}

		&__icon {
			position: relative;

			&::before {
				position: absolute;
				top: 50%;
				transform: translateY(-26%);
				content: url("../img/question.png");
				left: -20px;
			}
		}

		&__question-box {
			textarea {
				width: 100%;
				height: 50px;
				resize: none;
				padding: 10px;
				font-family: var(--regular-font);
				font-size: 1.4rem;
			}
		}

		&__btn {
			border: none;
			padding: 10px 20px;
			margin-top: 15px;
			justify-self: flex-end;
			background-color: $green;
			border-radius: 5px;
			font-family: var(--regular-font);
			color: white;
			text-transform: uppercase;
			font-size: 1.6rem;
			cursor: pointer;
		}
	}
}

// ============================================================
// MEDIA QUERIES
// ============================================================

@media (min-width: 576px) {
	body {
		font-size: 1.6rem;
	}

	.info {
		&__boxes {
			grid-template-columns: repeat(2, 1fr);
			gap: 60px;
		}

		&__box {
			padding: 30px;
			max-width: none;
			justify-self: auto;
		}

		&__box-text {
			grid-row: 1 / 2;
			grid-column: 2 / 3;

			&--right {
				grid-row: 3 / 4;
				grid-column: 1 / 3;
			}
		}
	}

	.day {
		grid-template-columns: repeat(2, 1fr);
	}

	.day-content {

		.stream {
			grid-column: 1 / 5;
		}

		.stream-info {
			grid-column: 1 / 5;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&__ask {
				margin-bottom: 0;
			}

			&__text {
				padding-right: 15px;
			}

			&__question-box {
				textarea {
					height: 70px;
					font-size: 1.6rem;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.day {
		&__text {
			grid-row: 1 / 2;
		}
	}
}

@media (min-width: 768px) {
	.text-normal {
		font-size: 2.2rem;
	}

	.text-big-bold {
		font-size: 3rem;
	}

	.text-big-regular {
		font-size: 2.4rem;
	}

	.nav {
		&__mobile-burger {
			display: none;
		}

		&__desktop {
			display: block;
		}
	}

	.section {
		margin: 100px auto;
	}

	.download {
		display: grid;
		grid-template-columns: 1fr 2px 1fr;
		gap: 30px;

		&__line {
			width: 2px;
			height: 100%;
		}

		&__left {
			text-align: right;
			align-self: center;
		}

		&__right {
			text-align: left;
		}
	}
}

@media (min-width: 992px) {
	.info {
		&__boxes {
			margin-top: 70px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 70px;
		}

		&__box {
			padding: 20px;
		}

		&__box-text {
			padding: 20px 10px;
			grid-row: 2 / 4;
			grid-column: 1 / 2;

			&--right {
				grid-row: 2 / 3;
				grid-column: 2 / 4;
			}
		}
	}

	.day-content {

		.stream {
			grid-column: 1 / 4;
		}

		.stream-info {
			grid-column: 4 / 5;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__text {
				padding-right: 0px;
			}

			&__question-box {
				textarea {
					height: 100px;
					font-size: 1.6rem;
				}
			}
		}
	}
}
